#main-order-container {
  width: 100%;
}

#main-order-container>h1 {
  color: white;
  text-align: center;
  padding-top: 5%;
}

#order-inside-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 15%;
  font-family: "Gill Sans", sans-serif;
  gap: 3rem;
}

#order-sec1>h1 {
  color: #ffffff;
}

.order-sec1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 0;
}

.order-sec1-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.order-sec1-card {
  width: 100%;
  height: 280px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  background: #ffffff;
  border-radius: 8px;
  color: #000000;
}

.order-sec1-card-figure {
  width: 26%;
  height: 100%;
}

.order-sec1-card-figure>img {
  max-width: 100%;
  height: 100%;
}

.order-sec1-card-texts {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}

.order-sec1-card-btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.order-sec1-card-btns>button {
  width: 48%;
  height: 40px;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.order-sec1-card-btns :first-child {
  border: 1px solid #ff0000;
  background: none;
  color: #000000;
}

.order-sec1-card-btns :first-child:hover {
  background: #ff0000;
  color: #ffffff;
}

.order-sec1-card-btns :last-child {
  background: none;
  border: 1px solid #0077ff;
}

.order-sec1-card-btns :last-child:hover {
  background: #0077ff;
  color: #ffffff;
}

#order-sec1-inside {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
}

#order-sec1-inside-top {
  display: flex;
  align-items: center;
}


@media (max-width: 1300px) {
  #order-header-text2 {
    font-size: 150%;
  }

  .order-sec1-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .order-sec1-card-figure {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #order-sec1-card-figure>img {
    width: 100%;
    height: 100%;
  }

  #order-inside-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }

  .order-sec1-card-texts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
  }

  .order-sec1-card-btns {}
}

@media (max-width: 1000px) {
  #order-sec1-inside {
    display: flex;
    flex-direction: column;
  }

  .order-sec1-card-texts {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .order-sec1-card-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
  }

  .order-sec1-card-btns button {
    width: 100%;
    font-size: 15px;
  }
}

@media (max-width: 700px) {
  #order-sec1-inside-top {
    display: flex;
    flex-direction: column;
  }

  .order-sec1-card-figure {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #order-sec1-card-figure>img {
    width: 100%;
    height: 100%;
  }

  .order-sec1-card-texts {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #order-sec1-inside-top :nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: -1rem;
  }

  .order-sec1-card-texts p {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .order-sec1-card-texts p {
    font-size: 12px;
  }

  .order-sec1-card-btns button {
    height: 35px;
    font-size: 11px;
  }

  .order-sec1-card-figure {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #order-sec1-card-figure>img {
    width: 100%;
    height: 100%;
  }

  #order-header-text2 {
    font-size: 100%;
  }
}