#product-view-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3% 1%;
    gap: 5rem;
    background: linear-gradient(145deg, #004b03 1.66%, #dbc04c 93.21%);
}

#product-view-main-container>h1 {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 84px;
}

.product-view-container {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    gap: 2rem;
}

.product-view-img {
    width: 10%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
}

.product-view-figure {
    height: 250px;
}

.product-view-figure>img {
    height: 100%;
    border-radius: 6px;
}

.product-view-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.product-view-about-text {
    font-weight: 600;
    font-size: 25px;
    line-height: 145%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product-view-info {}

.product-view-info>h1 {
    display: flex;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    align-items: center;
    gap: 2rem;
}

.product-view-btns {
    margin-top: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.product-view-btns>button {
    width: 320px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 7px;
    font-weight: 600;
    line-height: 126%;
    background: none;
    color: #ffffff;
}

.product-view-btns :first-child {
    border: 1px solid #d1ff33;
    font-size: 16px;
}

.product-view-btns :last-child {
    border: 1px solid #2196f3;
    font-size: 16px;
}

.product-view-btns :first-child:hover {
    background: #d1ff33;
    color: #000000;
}

.product-view-btns :last-child:hover {
    background: #2196f3;
    color: #ffffff;
}

.product_body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    transform: translateY(-200%);
    z-index: -99;
    transition: all 0.5s ease-in-out;
}

.product_body.open {
    transform: translateY(0);
    z-index: 99;
}

.modal_body {
    position: relative;
    width: 600px;
    max-width: 100%;
    height: auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    transform: translateY(-200px);
    opacity: 0;
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 30px 5% 60px;
}

.modal_body.activ {
    opacity: 1;
    transform: translate(0);
    transition-delay: 0.3s;
}

#close_form {
    position: absolute;
    width: 8%;
    top: 2%;
    right: 2%;
    background: none;
    border: none;
}

.close_form_figure {
    width: 100%;
}

.close_form_figure>img {
    width: 100%;
}

.product-view-form-texts {
    width: 100%;
    text-align: center;

    font-weight: 500;
    font-size: 26px;
    line-height: 145%;
    letter-spacing: 0.09em;
    color: #000000;
}

.product-view-inputs {
    margin-top: 40px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.product-view-inputs>input {
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    background: #f0f0f0;
    border-radius: 6px;
    text-align: center;

    font-weight: 500;
    font-size: 22px;
    line-height: 160%;
    letter-spacing: 0.09em;
    color: rgba(0, 0, 0, 0.5);
}

.product-view-inputs>button {
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    background: #c6ff00;
    border-radius: 6px;

    font-weight: 500;
    font-size: 22px;
    line-height: 160%;
    letter-spacing: 0.09em;
    color: #000000;

    transition: all 0.2s ease-in-out;
}

.product-view-inputs>button:hover {
    background: #ffa638;
    color: #ffffff;
    transform: scale(1.05);
}

@media (max-width: 900px) {
    .product-view-figure {
        height: 220px;
    }

    .product-view-about-text {
        font-size: 22px;
    }

    .product-view-info {
        margin-top: 60px;
        font-size: 28px;
    }

    .product-view-info>p {
        gap: 40px;
    }

    .product-view-btns {
        gap: 30px;
    }

    .product-view-btns>button {
        width: 280px;
        height: 45px;
    }

    .product-view-btns :first-child {
        font-size: 14px;
    }

    .product-view-btns :last-child {
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    .product-view-figure {
        height: 180px;
    }

    .product-view-about-text {
        font-size: 20px;
    }

    .product-view-info {
        margin-top: 30px;
        font-size: 20px;
    }

    .product-view-info>p {
        gap: 30px;
    }

    .product-view-btns {
        gap: 20px;
    }

    .product-view-btns>button {
        width: 200px;
        height: 30px;
    }

    .product-view-btns :first-child {
        font-size: 10px;
    }

    .product-view-btns :last-child {
        font-size: 10px;
    }
}

@media (max-width: 550px) {
    .product-view-figure {
        height: 120px;
    }

    .product-view-about-text {
        font-size: 14px;
    }

    .product-view-info {
        margin-top: 20px;
        font-size: 16px;
    }

    .product-view-info>p {
        gap: 20px;
    }

    .product-view-btns {
        gap: 20px;
    }

    .product-view-btns>button {
        width: 160px;
        height: 30px;
    }

    .product-view-btns :first-child {
        font-size: 8px;
    }

    .product-view-btns :last-child {
        font-size: 8px;
    }
}

.swiper {
    width: 240px;
    height: 320px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.swiper-slide:nth-child(1n) {
    background-color: rgba(119, 117, 117, 0.308);
    height: 78%;
}

.swiper-slide:nth-child(2n) {
    background-color: rgba(164, 164, 164, 0.52);
}

.swiper-slide:nth-child(3n) {
    background-color: rgba(164, 164, 164, 0.52);
}

.swiper-slide:nth-child(4n) {
    background-color: rgba(164, 164, 164, 0.52);
}

.swiper-slide:nth-child(5n) {
    background-color: rgba(164, 164, 164, 0.52);
}

.swiper-slide:nth-child(6n) {
    background-color: rgba(164, 164, 164, 0.52);
}

.swiper-slide:nth-child(7n) {
    background-color: rgba(164, 164, 164, 0.52);
}

.swiper-slide:nth-child(8n) {
    background-color: rgba(164, 164, 164, 0.52);
}

.swiper-slide:nth-child(9n) {
    background-color: rgba(164, 164, 164, 0.52);
}

.swiper-slide:nth-child(10n) {
    background-color: rgba(164, 164, 164, 0.52);
}